# Altium
Altium/History/
Altium/Project Logs for DRC/
Altium/__Previews/

# LTSpice
*.op.raw
*.raw
*.log

# LaTeX
LaTeX/svg-inkscape/
*.aux
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.run.xml
*.synctex.gz
*.synctex(busy)